/**
 * Sizes used by Twitter's Bootstrap (TM).
 *
 * https://getbootstrap.com/docs/4.1/layout/overview#responsive-breakpoints
 */

/* extra small devices */
@media (max-width: 575.98px) {
	.finances-grid {
		display: grid;
		grid-template: 4.50rem 1fr minmax(150px, 0.65fr) / 1fr;
		grid-gap: 1rem;
		grid-template-areas:
			'summary'
			'expenses'
			'accounts';
	}

	.accounts { overflow-y: scroll; }
}

/* small devices */
@media (max-width: 767.98px) {
}

/* medium devices */
@media (max-width: 991.98px) {
}

/* large devices */
@media (max-width: 1199.98px) {
}