$default-color: hsl(211, 25%, 84%);
$default-color-dark: hsl(214, 20%, 69%);
$default-color-light: hsl(212, 10%, 95%);

$link-color: #1e70bf;

$input-bg: $default-color-light;

$border-color: $default-color-dark;
$border-color-light: $default-color;

$shadow-color: $default-color-light;

:root {
  --input-bg: #{$input-bg};
  --border-color: #{$border-color};
  --border-color-light: #{$border-color-light};
  --shadow-color: #{$shadow-color};
}
