@import 'packages';

body {
    overflow-y: scroll;
}

.pointer { cursor: pointer; }

.semi-bold { font-weight: 500; }
.bold { font-weight: 600; }

// Vue router transition
.slide-fade-enter-active {
  transition: all .3s ease;
  transition-delay: .3s;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}
