@import 'packages',
  '_card';

body {
    overflow-y: scroll;
}

.pointer { cursor: pointer; }

.semi-bold { font-weight: 500; }
.bold { font-weight: 600; }

.text-center { text-align: center; }
.text-left { text-align: right; }
.text-right { text-align: right; }

.text-smaller { font-size: smaller; }
.text-small { font-size: small; }
.text-large { font-size: large; }
.text-larger { font-size: larger; }

// Vue router transition
.slide-fade-enter-active {
  transition: all .3s ease;
  transition-delay: .3s;
}
.slide-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: translateY(10px);
  opacity: 0;
}

// colored text
$text-colors: blue, green, orange, pink, purple, red, teal, yellow, black, grey, white;
@each $tc in $text-colors{
	.text.#{$tc}{
		color: #{$tc};
	}
}

/**
 * spacings, e.g.:
 *
 * * .mr-2: margin-right: 2rem
 * * .p-1: padding: 2rem
 *
 * See:
 *   + https://sass-lang.com/documentation/file.SASS_REFERENCE.html#for
 *   + https://sass-lang.com/documentation/Sass/Script/Functions.html#str_slice-instance_method
 */
$spacers: (margin, padding);
$sides: (top, right, bottom, left);

@each $spacer in $spacers {
  @for $space from 0 through 5 {
    @each $side in $sides {
      .#{str-slice($spacer, 0, 1)}#{str-slice($side, 0, 1)}-#{$space} {
        #{$spacer}-#{$side}: #{$space}rem !important;
      }
    }
    .#{str-slice($spacer, 0, 1)}-#{$space} {
      #{$spacer}: #{$space}rem !important;
    }
  }
}
