// extra small devices
@media (max-width: $xs-devices) {
	.finances-grid {
		display: grid;
		grid-template: 4.50rem 300px 350px 1fr / 100%;
		grid-gap: 1rem;
		grid-template-areas:
			'summary'
			'accounts'
			'chart'
			'expenses';
	}
}

// small devices
@media (max-width: $sm-devices) { }

// medium devices
@media (max-width: $md-devices) { }

// large devices
@media (max-width: $lg-devices) { }
