@import 'variables',
	'colors',
	'form',
	'grid',
	'mobile',
	'table';

body {
	max-width: 90%;
	margin: 1rem auto;
	font: normal 14px/18px sans-serif, serif, monospace;
}

/* helpers */

.text-left { text-align: left; }
.text-right { text-align: right; }
.left { float: left; }
.right { float: right; }
.large { font-size: large; }
.small { font-size: 0.80rem; }
.smaller { font-size: 0.70rem; }
