/**
 * Media devices sizes used by Twitter's Bootstrap (TM).
 *
 * https://getbootstrap.com/docs/4.1/layout/overview#responsive-breakpoints
 */
$xs-devices: 575.98px;
$sm-devices: 767.98px;
$md-devices: 991.98px;
$lg-devices: 1199.98px;

// colors
$gray: #666;
$orange: #f58c4b;
$red: #df640c;
$white: #eee;
